body {
  font: 1em sans-serif;
}

.btn {
  padding: 0px;
  width: 100%;
  color: white;
  background-color: rgb(105, 0, 0);
  font-size: 19px;
  
}

.everything {
  font-size: 16px;
  
}

.hech1 {
  color: blueviolet;
}